
.active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
    width: 100px;
}

.form-inline .form-control {
    margin: 10px;
}

#search-form {
    margin: 0 auto;
}

#add-new-button {
    float: right;
    margin-top: 10px; 
    margin-right: 10px 
}

hr {
    border-top: 2px solid black;
    width: 70%;
    margin-bottom: 2px;
    margin: 0 auto;
}

.container-fluid {
    margin-top: 15px;
}

